:root{
    --black: #030304;         
    --orange-primary: #cd3315;        
    --creme: #D4B483;               
    --pink: #C1666B;           
    --white: #f4efeb;          
    
    /* Light Theme Colors (default) */
    --primary-color: var(--orange-primary);
    --secondary-color: var(--creme);
    --accent-color: var(--pink);
    --text-color: var(--white);
    --text-primary-button: #FFFFFF; /*for the orange buttons*/
    --text-secondary-button: var(var(--black)); /*for creme button*/
    --bg-color: var(--black);
    --button-color: var(--primary-color);
    --button-secondary: var(var(--secondary-color));
    --border-color: var(--black);
    --shadow-color: var(--white);
    --shadow-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: var(--pink);
    /* Typography */
    /*--font-primary:
    --font-accent: */
  }
